h1 {
	font-size: 20px;
	color: navy;
	text-align: left;
}

body {
	background-image:
		url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/1200px-BMW.svg.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: lightblue;
}

td:hover {
	color: red;
}